
<div class="mt-2 mb-2 border p-5" id="email-body-<%=email.id%>">

  <h1 class="text-uppercase mb-3 mt-5 text-center"><%=email.object%></h1>
  <p class="mb-5"><%=email.body%></p>
  <%= button_to "SUPPRIMER", email_path(email.id), method: "delete",  :class => "btn btn-danger", :remote => true %>
  <%= button_to "MARQUER COMME NON LU", email_path(email.id), method: "put", :class => "btn btn-info", :remote => true %>  
</div>